/* General styling */
html,
body {
  font-size: 1rem;
  font-family: Ubuntu, 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
  font-style:italic;
}
/* typography */
h1,
textarea,
.author,
.prompt-label,
.response-card{
  color: rgba(255,255,255,.9);
}
h1{
  font-size: 3rem;
}
.prompt-label{
  font-weight: 700;
}
.response-card,
.prompt-label{
  font-size: .8rem;
}
.response-card-prompt-paragraph,
.response-card-response-paragraph{
  text-align: justified;
}
.response-card-prompt-heading,
.response-card-response-heading,
.btn-submit{
  text-transform: capitalize;
}
.credits{
  font-size: .5rem;
  color: rgba(255,255,255,.7);
}

/* html elements styling */
h1{
  margin-top: 0.5em;
  margin-bottom: 0;
}
form{
  min-width: 275px;
  width:350px;
  max-width: 40%;
  display: flex;
  flex-direction:column;
  align-items: center;
}
textarea{
  padding: .5em 1em;
  width:100%;
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 5px;
  background: none;
  border: rgba(255,255,255,.5) solid 1px;  
}
/* classes styling */
.App {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  background-image: url('../public/images/mirrored.jpg');
  background-size: cover;
  min-height: 100vh;
}
.author{
  margin-top:0;
  margin-bottom: 3em;
  margin-left: 8em;
}
.prompt-label{
  align-self:flex-start;
  margin-bottom: 5px;
}
.btn-submit{
  align-self:flex-end;
  padding: .5em 1.5em;
  background-color: #4072DD;
  font-size:.65rem;
  color: white;
  border-radius: 2px;
  border: none;
}
.responses-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-card{
  margin-top: 1.5em;
  border-radius: 5px;
  min-width: 275px;
  width: 350px;
  max-width: 40%;
  padding:1em;
  background-color: rgba(255,255,255,.4);
  display:grid;
  grid-template-areas: 
        "prompt-heading prompt-text"
        "response-heading response-text";
        grid-template-columns: 85px 150px;
}

.response-card-prompt-heading{
  grid-area: prompt-heading ;
}
.response-card-prompt-paragraph{
  grid-area: prompt-text;
}
.response-card-response-heading{
  grid-area: response-heading;
}
.response-card-response-paragraph{
  grid-area: response-text;
}
.credits{
  align-self: flex-end;
  margin-right: 3em;
  margin-top: 10em;
}
@media screen and (min-width: 480px){
  
  
  .response-card{
    min-width: 350px;
    grid-template-columns: 100px 200px;
  }
}